# sublime text files
*.sublime*
*.*~*.TMP

# temp files
.DS_Store
Thumbs.db
Desktop.ini
npm-debug.log

# emacs temp files
*~
\#*#

# project ignores
!.gitkeep
*__temp

# jetBrains IDE ignores
.idea

#as2js
*.lprj
d3/.project
webGL.rar
d320170724.rar
publish/LayaAirPublish/bin/ts/libs/min/laya.core.min.js.mine
publish/LayaAirPublish/bin/ts/libs/min/laya.core.min.js.r42639
publish/LayaAirPublish/bin/ts/libs/min/laya.core.min.js.r42907
publish/LayaAirPublish/bin/ts/libs/min/laya.d3.min.js.mine
publish/LayaAirPublish/bin/ts/libs/min/laya.d3.min.js.mine
publish/LayaAirPublish/bin/ts/libs/min/laya.d3.min.js.r42639
publish/LayaAirPublish/bin/ts/libs/min/laya.debugtool.min.js.mine
/debug/bin/debug.swf
/debug/bin/h5/debug-dev.max.js
/debug/obj
/publish/LayaAirPublish/bin/as/debug.txt
